--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: acomodaciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.acomodaciones (
    id bigint NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion text
);


ALTER TABLE public.acomodaciones OWNER TO postgres;

--
-- Name: acomodaciones_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.acomodaciones_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.acomodaciones_id_seq OWNER TO postgres;

--
-- Name: acomodaciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.acomodaciones_id_seq OWNED BY public.acomodaciones.id;


--
-- Name: hotel_habitacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hotel_habitacion (
    id bigint NOT NULL,
    hotel_id bigint NOT NULL,
    tipo_habitacion_id bigint NOT NULL,
    acomodacion_id bigint NOT NULL,
    cantidad integer NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.hotel_habitacion OWNER TO postgres;

--
-- Name: hotel_habitacion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.hotel_habitacion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hotel_habitacion_id_seq OWNER TO postgres;

--
-- Name: hotel_habitacion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.hotel_habitacion_id_seq OWNED BY public.hotel_habitacion.id;


--
-- Name: hoteles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hoteles (
    id bigint NOT NULL,
    nombre character varying(200) NOT NULL,
    direccion character varying(255) NOT NULL,
    ciudad character varying(100) NOT NULL,
    nit character varying(20) NOT NULL,
    numero_habitaciones integer NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.hoteles OWNER TO postgres;

--
-- Name: hoteles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.hoteles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hoteles_id_seq OWNER TO postgres;

--
-- Name: hoteles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.hoteles_id_seq OWNED BY public.hoteles.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migrations_id_seq OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: tipos_habitacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tipos_habitacion (
    id bigint NOT NULL,
    nombre character varying(50) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.tipos_habitacion OWNER TO postgres;

--
-- Name: tipos_habitacion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tipos_habitacion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tipos_habitacion_id_seq OWNER TO postgres;

--
-- Name: tipos_habitacion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tipos_habitacion_id_seq OWNED BY public.tipos_habitacion.id;


--
-- Name: acomodaciones id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acomodaciones ALTER COLUMN id SET DEFAULT nextval('public.acomodaciones_id_seq'::regclass);


--
-- Name: hotel_habitacion id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hotel_habitacion ALTER COLUMN id SET DEFAULT nextval('public.hotel_habitacion_id_seq'::regclass);


--
-- Name: hoteles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hoteles ALTER COLUMN id SET DEFAULT nextval('public.hoteles_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: tipos_habitacion id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipos_habitacion ALTER COLUMN id SET DEFAULT nextval('public.tipos_habitacion_id_seq'::regclass);


--
-- Data for Name: acomodaciones; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.acomodaciones (id, nombre, descripcion) FROM stdin;
1	SENCILLA	Habitaci├│n con cama sencilla
2	DOBLE	Habitaci├│n con cama doble
3	TRIPLE	Habitaci├│n con tres camas
4	CUADRUPLE	Habitaci├│n con cuatro camas
\.


--
-- Data for Name: hotel_habitacion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.hotel_habitacion (id, hotel_id, tipo_habitacion_id, acomodacion_id, cantidad, created_at, updated_at) FROM stdin;
1	1	1	1	10	2026-06-18 02:12:47	2026-06-18 02:42:58
2	1	1	2	5	2026-06-18 03:58:05	2026-06-18 03:58:05
3	1	2	3	4	2026-06-18 03:58:05	2026-06-18 03:58:05
5	1	3	1	3	2026-06-18 03:58:06	2026-06-18 03:58:06
6	1	3	2	5	2026-06-18 03:58:06	2026-06-18 03:58:06
8	4	1	2	2	2026-06-18 04:08:28	2026-06-18 04:08:28
9	4	3	3	2	2026-06-18 04:09:59	2026-06-18 04:09:59
4	1	2	4	3	2026-06-18 03:58:06	2026-06-18 04:18:08
\.


--
-- Data for Name: hoteles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.hoteles (id, nombre, direccion, ciudad, nit, numero_habitaciones, created_at, updated_at) FROM stdin;
1	AGSE TULUA (TULU├ü)	CALLE 24 #18D-62 APARTAMENTO 01	VALLEDUPAR	123	222	2026-06-18 00:44:36	2026-06-18 00:44:36
3	AGSE TULUA Cartagena	Crr 18 e # 23 - 44 primero de mayo	VALLEDUPAR	12322	30	2026-06-18 04:05:14	2026-06-18 04:05:14
4	Test dos	Crr 18 e # 23 - 44 primero de mayo	VALLEDUPAR	123225	50	2026-06-18 04:07:32	2026-06-18 04:07:32
5	Prueba	222	VALLEDUPAR	2343	50	2026-06-18 04:08:08	2026-06-18 04:08:08
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.migrations (id, migration, batch) FROM stdin;
9	2026_06_17_000001_acomodacion	1
10	2026_06_17_000002_tipo_habitacion	1
11	2026_06_17_000003_hotel	1
12	2026_06_17_000004_hotel_habitacion	1
\.


--
-- Data for Name: tipos_habitacion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tipos_habitacion (id, nombre, created_at, updated_at) FROM stdin;
1	ESTANDAR	\N	\N
2	JUNIOR	\N	\N
3	SUITE	\N	\N
\.


--
-- Name: acomodaciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.acomodaciones_id_seq', 7, true);


--
-- Name: hotel_habitacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hotel_habitacion_id_seq', 9, true);


--
-- Name: hoteles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hoteles_id_seq', 5, true);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.migrations_id_seq', 12, true);


--
-- Name: tipos_habitacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tipos_habitacion_id_seq', 5, true);


--
-- Name: acomodaciones acomodaciones_nombre_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acomodaciones
    ADD CONSTRAINT acomodaciones_nombre_unique UNIQUE (nombre);


--
-- Name: acomodaciones acomodaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acomodaciones
    ADD CONSTRAINT acomodaciones_pkey PRIMARY KEY (id);


--
-- Name: hotel_habitacion hotel_habitacion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hotel_habitacion
    ADD CONSTRAINT hotel_habitacion_pkey PRIMARY KEY (id);


--
-- Name: hoteles hoteles_nombre_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hoteles
    ADD CONSTRAINT hoteles_nombre_unique UNIQUE (nombre);


--
-- Name: hoteles hoteles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hoteles
    ADD CONSTRAINT hoteles_pkey PRIMARY KEY (id);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: tipos_habitacion tipos_habitacion_nombre_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipos_habitacion
    ADD CONSTRAINT tipos_habitacion_nombre_unique UNIQUE (nombre);


--
-- Name: tipos_habitacion tipos_habitacion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipos_habitacion
    ADD CONSTRAINT tipos_habitacion_pkey PRIMARY KEY (id);


--
-- Name: hotel_habitacion uq_hotel_tipo_acomodacion; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hotel_habitacion
    ADD CONSTRAINT uq_hotel_tipo_acomodacion UNIQUE (hotel_id, tipo_habitacion_id, acomodacion_id);


--
-- Name: hotel_habitacion hotel_habitacion_acomodacion_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hotel_habitacion
    ADD CONSTRAINT hotel_habitacion_acomodacion_id_foreign FOREIGN KEY (acomodacion_id) REFERENCES public.acomodaciones(id);


--
-- Name: hotel_habitacion hotel_habitacion_hotel_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hotel_habitacion
    ADD CONSTRAINT hotel_habitacion_hotel_id_foreign FOREIGN KEY (hotel_id) REFERENCES public.hoteles(id) ON DELETE CASCADE;


--
-- Name: hotel_habitacion hotel_habitacion_tipo_habitacion_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hotel_habitacion
    ADD CONSTRAINT hotel_habitacion_tipo_habitacion_id_foreign FOREIGN KEY (tipo_habitacion_id) REFERENCES public.tipos_habitacion(id);


--
-- PostgreSQL database dump complete
--

